.chartContainer {
    background-color: #2d2d5b;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.timeframeButtons {
    margin: 10px 0;
}

.timeframeButtons button {
    background: #4b0082;
    color: white;
    border: none;
    padding: 8px 15px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.timeframeButtons button:hover,
.activeButton {
    background: #372447;
}

.comparison {
    margin-top: 10px;
    font-size: 14px;
    color: #ffcc00;
}
